body {
  margin: 0;
  padding: 0;
  /*background: #151515 url("../images/bkg.png") 0 0;*/
  background: #353535;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
  border: 2px solid #202020;
  background: #111111;
  margin: 2px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
}

#header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 15px 0;
  padding-bottom: 0px;
  margin: 0 0 10px 0;
}

#header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

#header h1{
  font-size: 30px;
}

#header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}



h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}
a{
  text-decoration: none;
  color: #35a891;
  
}
.listyle{
  list-style-type: none;

}

.hstyle1{
  float: left;
}
.hstyle2{
  float: right;
  margin-top: 13px;
}
.clear{
  clear: both;
}

.mainw{
  background: #555555;
  color: #b5e853;
  max-width: 60%;
  min-height: 550px;
  /*border-radius: 10px;*/
  margin: auto;
  padding-top: 5px;
  box-shadow:0px 0px 30px black;
  /*border: 7px solid #404040;*/
  
}


.pdiv{
  margin: auto;
  max-width: 93%;
  margin-top:10px;
  border-bottom: 1px dashed white;
}
.pstyle{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.time{
  font-style: italic;
  color: #cccccc;
  margin-right: 10px;
  margin-left: 10px;
}
#foot{
  height: 40px;
}
#divfoot{

  padding-top: 20px;
  padding-left: 30px;
  color: #aaaaaa;
  font-size: 13px;
}
